<div class='container' style='padding:15%'>
  <div class='d-flex flex-column align-items-center align-justify-center'> 
      <div class='col-3'>
          <p class='fs-3'>
              <img src="{{url_for('static',filename='static/asset/noTask.jpg')}}" class="img-fluid rounded-top" alt="">
          </p>
      </div>
  </div>
</div>